{%- assign content_config = config.notes %}
{%- embed changes-sorter.liquid %}
{%- assign level = content_config.htag | replace: "h", "" | default: dflt_next_header_level | plus: 0 %}
{%- assign dflt_next_header_level = level | plus: 1 -%}
{%- assign item_count = 0 %}

<section class="notes-section py-4 px-3 mb-4">
  {%- include header.liquid format=format level=level text=content_config.head %}

  {%- embed section-text.liquid %}

  <div class="notes-content mt-4">
    {%- embed groupings.liquid %}
  </div>
</section>

